
#contact {
    background-image: url('/assets/images/Background_Contacts.png');
    background-size: cover; 
    background-position: center; 
    height: 80vh; 
}

.container-contact {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    gap: 48px;
}

#header-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#header-contacts h2 {
    margin-top: 88px;
    font-family: var(--font-tertiary);
    font-size: var(--text-subtitle);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-md);
    color: var(--color-purple);
}

#header-contacts h1 {
    font-family: var(--font-primary);
    font-size: var(--text-title-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title-md);
    color: var(--color-gray-600);
 }

#header-contacts h3 {
    font-family: var(--font-tertiary);
    font-size: var(--text-title-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-md);
    color: var( --color-gray-400);
}

#links a {
    text-decoration: none;
}
.link {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: #292C34; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    width: 25rem;
    margin-bottom: 16px;
  }
  
  .link:hover {
    background-color: #292929;
  }
  
  .link-logo {
    display: flex;
    align-items: center; 
  }
  
  .link-logo img {
    width: 24px; 
    margin-right: 10px; 
  }
  
  .link-logo h3 {
    font-family: var(--font-tertiary);
    font-size: var(--text-title-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-md);
    color: var( --color-gray-600);
    margin: 0;
  }
  
  .link img {
    width: 16px; 
    transition: transform 0.3s ease; 
  }
  
  .link:hover img {
    transform: translateX(5px);
  }